.main-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    overflow: hidden;
}

.main-container .left-article {
    width: 100%;
    height: 100%;
    background: #071a26;
}

.main-container .right-article {
    width: 100%;
    height: 100%;
    background: #fff;
}

.container-about-me {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 8rem 0;
}

.container-about-me h1 {
    font-size: 5rem;
    font-weight: 100;
}

.container-about-me h2 {
    font-size: 2rem;
    font-weight: 300;
}

.my-icon {
    width: 100%;
    text-align: center;
}

.my-icon img {
    width: 25rem;
    border-radius: 20rem;
}

.container-desc {
    width: 100%;
    padding: 2rem;
    font-size: 1.6rem;
}

.container-dinamic {
    width: 100%;
    height: 100%;
    color: #071a26;
}

.container-dinamic__header {
    background: #fff;
}

.container-dinamic__header header {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.container-dinamic header span {
    font-size: 2.5rem;
}

.container-dinamic header span:hover {
    cursor: pointer;
}

.container-dinamic h1 {
    font-size: 2rem;
    font-weight: 400;
}

.container-social-media {
    font-size: 4rem;
}

.container-social-media a span {
    margin: .5rem;
    transition: .5s all ease-in-out;
}

.container-social-media a span:hover {
    color: rgb(126, 126, 126);
    cursor: pointer;
}

.container-projects {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 1rem 0;
    overflow: auto;
}

.container-projects .project {
    width: 100%;
    height: 10rem;
    margin: 1rem 0;
    background-color: #fff;
    border: .1rem solid #ddd;
    border-radius: .5rem;
}

.container-projects .project header {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2em 2rem;
}

.container-projects .project header a {
    font-size: 1.6rem;
    font-weight: 600;
    color: #0366d6
        /* githug */
}

.container-projects .project article {
    width: 100%;
    height: 100%;
    color: #586069;
    font-size: 1.4rem;
    padding: 0 2rem;
}


/*
    Media Queries
*/

@media screen and (max-width: 800px) {

    .main-container {
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(2, 100%);
        overflow: auto;
    }

    .main-container .left-article {
        width: 100%;
        background: #071a26;
        overflow: auto;
    }

}