/* #071a26 - #072526 */
/* #103b56 - #0c4344 */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 400px;
    line-height: 1.7;
    color: #777;
}


.header {
    height: 95vh;
    background-image:
        url(../img/stars.png),
        linear-gradient(to right bottom,
            #000,
            #071a26,
            /*#103b56*/
            red);
    background-size: cover;
    background-position: top;

    /* Clip-path, junto ao polygon, 
    responsável spor gerar formas geometricas. */
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0 90%)
}


.text-box {
    position: absolute;
    top: 40%;
    left: 50%;

    transform: translate(-45%, -50%)
}

.header-primary {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

.heading-primary-main {
    display: block;
    font-size: 60px;
    font-weight: 500px;
    letter-spacing: 35px;

    animation: moveToLeft;
    animation-duration: 2s;
}

.heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 400px;
    letter-spacing: 20px;

    animation: moveToRight;
    animation-duration: 2s;
}

.about {
    display: inline-block;
    width: 100%;
    height: 100vh;
}

.about h2 {
    display: block;
    text-align: center;
    font-size: 60px;
    font-weight: 300;
    letter-spacing: 5px;
}

.about__social {
    display: inline-block;
    text-align: center;
    width: 40%;
}

.about__social my-icon:hover {
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0 90%)
}

img {
    width: 18rem;
    border-radius: 200px;
}

.about__description {
    display: inline-block;
    position: absolute;
    top: 130%;
    left: 50%;
    text-align: center;
    width: 40%;
}

.about__description p {
    text-align: center;
}

.social-media {
}

.social-media li {
    list-style: none;
    display: inline-block;
    font-size: 35px;
    margin-right: 5px;
    border: 1px solid #fff;
    transition: .5s;
}

.social-media li:hover {

} 



@keyframes moveToLeft {
    0% {
        transform: translateX(-100px)
    }

    100% {
        transform: translateX(0)
    }
}

@keyframes moveToRight {
    0% {
        transform: translateX(100px)
    }

    100% {
        transform: translateX(0)
    }
}