/* #071a26 - #072526 */
/* #103b56 - #0c4344 */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 400px;
    line-height: 1.7;
    background-image: linear-gradient(
        to left,
        #0b131b, #34495e); 
    color: #fff;
}

.about {
    display: inline-block;
    font-size: 100%;
    width: 100%;
    height: 100%;
}

.about h1,
h2 {
    display: block;
    text-align: center;
}

.about h1 {
    font-size: 2em;
    font-weight: bold;
    letter-spacing: .1em;
    color: #fff;
}

.about h2 {
    font-size: .8em;
    font-weight: 300;
    color: #777;
}

.about__social {
    display: block;
    text-align: center;
    margin-top: 2em;
}

.about__social img {
    width: 12em;
}

.about__description {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-top: 1em;
}

.about__description p {
    text-align: center;
}

ul {
    width: 4em;
    position: absolute;
    overflow: hidden;
}

.leftside {
    position: absolute;
    top: 30%;
}

.leftside li {
    list-style-type: none;
    padding: 15%;
    transition: .3s;
    color: #fff;
    position: relative;
}

.leftside li a:link,
.leftside li a:visited {
    color: #fff;
}

.leftside li i {
    font-size: 40px;
}

.leftside li:hover {
    padding: 15% 40%;
}

.leftside li:nth-child(1) {
    background: #007bb6;
}

.leftside li:nth-child(2) {
    background: #3b5998;
}

.leftside li:nth-child(3) {
    background: #4e545a;
}

/******************************
My Projects 
******************************/